/* center the text
*/


.center {
  text-align:center;
  margin:auto;
}

.box {
  width: 165px;
  height: 165px;
  margin: 0 auto;
  margin: 20px;
  border-radius: 25px;
  font-family: helvetica;
  font-size: 150px;
  animation: fadein 2s;
  color: white;
  text-shadow: -1px 0 #b3b3b3, 0 1px #b3b3b3, 1px 0 #b3b3b3, 0 -1px #b3b3b3;
  background-color: #d2ffe9;
  text-align: center;
}

.blue {
  background-color: #D2FFFF;
}

.yellow {
  background-color: #ffffd2;
}

#container {
  margin: 0 auto;
  max-height: 600px;
  max-width: 600px;
}


@keyframes fadein {
  from { opacity: 0;   }
  to { opacity: 1;   }
}
/*for fade in*/
