body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 14px;
	margin: 0;
}

h1 {
  color: purple;
}

#container {
  display: grid;
  grid-template-columns: auto 75px 10px 75px 75px 75px 10px 75px auto;
  grid-template-rows: 100px 75px 75px 75px% auto;
  grid-template-areas:
    "gHeadRoom gHeadRoom gHeadRoom gHeadRoom gHeadRoom gHeadRoom gHeadRoom gHeadRoom gHeadRoom"
    "gGutterLeft gQuoteLeft gGapLeft gA1n gA2 gA3p gGapRight gQuoteRight gGutterRight"
    "gGutterLeft gAvatarLeft gGapLeft gB1 gB2pn gB3 gGapRight gAvatarRight gGutterRight"
    "gGutterLeft gBlankLeft gGapLeft gC1p gC2 gC3n gGapRight gBlankRight gGutterRight"
    "gDownUnder gDownUnder gDownUnder gDownUnder gButtonSpace gDownUnder gDownUnder gDownUnder gDownUnder";
}

#headRoom {
	grid-area: gHeadRoom;
	background-color: green;
}

#gameGrid {
	grid-area: gA1n gA2 gA3p gB1 gB2pn gB3 gC1p gC2 gC3n;
}

#quoteLeft {
	grid-area: gQuoteLeft;
	background-color: pink;

}

#quoteRight {
	grid-area: gQuoteRight;
	background-color: hotpink;

}

#avatarLeft {
	grid-area: gAvatarLeft;
	background-color: yellow;

}

#avatarRight {
	grid-area: gAvatarRight;
	background-color: orange;

}

#idA1n {
	grid-area: gA1n;
	background-color: #FF530D;

}

#idA2 {
	grid-area: gA2;
	background-color: #FF0000;

}

#idA3p {
	grid-area: gA3p;
	background-color: #FF0DFF;

}

#idB1 {
	grid-area: gB1;
	background-color: #FF8153;

}

#idB2pn {
	grid-area: gB2pn;
	background-color: #FF5F6B;
}

#idB3 {
	grid-area: gB3;
	background-color: #F853FF;

}

#idC1p {
	grid-area: gC1p;
	background-color: #FFA98D;
}

#idC2 {
	grid-area: gC2;
	background-color: #FF9AAA;

}

#idC3n {
	grid-area: gC3n;
	background-color: #F58DFF;
}

#buttonSpace {
	grid-area: gButtonSpace;
	background-color: lightblue;
}



