.container {
	background: lightblue;
	width: 700px;
	height: 600px;
	margin: auto;

}

h1 {
  color: black;
}

body{
	text-align: center;
}

.box {
	width: 100px;
	height: 100px;
	border: 2px solid black;
	display: inline-block;
	background: white;
}

.boxClickedRed {
	width: 100px;
	height: 100px;
	border: 2px solid black;
	display: inline-block;
	background: red;
}

.boxClickedBlack {
	width: 100px;
	height: 100px;
	border: 2px solid black;
	display: inline-block;
	background: black;
}

.boxClickedWin {
	width: 100px;
	height: 100px;
	border: 2px solid purple;
	display: inline-block;
	background: green;
}