body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

h1 {
  color: purple;
}

.container {
  display: grid;
  grid-template-columns: 1fr 150px 10px 300px 300px 300px 10px 150px 1fr;
  grid-template-rows: 150px 300px 300px 300px 1fr;
/*  grid-template-areas:
    "r1c1 r1c2 r1c3 r1c4 r1c5 r1c6 r1c7 r1c8 r1c9"
    "r2c1 r2c2 r2c3 r2c4 r2c5 r2c6 r2c7 r2c8 r2c9"
    "r3c1 r3c2 r3c3 r3c4 r3c5 r3c6 r3c7 r3c8 r3c9"
    "r4c1 r4c2 r4c3 r4c4 r4c5 r4c6 r4c7 r4c8 r4c9"
    "r5c1 r5c2 r5c3 r5c4 r5c5 r5c6 r5c7 r5c8 r5c9";
*/}

#headRoom {
/*	grid-area: r1c1 r1c2 r1c3 r1c4 r1c5 r1c6 r1c7 r1c8 r1c9;
*/	grid-area: 1 10 2 10;
	grid-column-start: 1;
	grid-column-end: 10;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: green;
	margin: 0;
	border: 1px solid black;
}

#gameGrid {
/*	grid-area: r2c4 r2c5 r2c6 r3c4 r3c5 r3c6 r4c4 r4c5 r4c6;	
*/	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 5;
	background-image: linear-gradient(#1c5380, #06365f);
	border: 1px solid black;

/*	width: 990px;
	height: 225px;*/

}

/*#quoteLeft {
	grid-area: r2c2;
	background-color: pink;

}

#quoteRight {
	grid-area: r2c8;
	background-color: hotpink;

}

#avatarLeft {
	grid-area: r3c2;
	background-color: yellow;

}

#avatarRight {
	grid-area: r2c8;
	background-color: orange;

}*/

/*#idA1n {
	grid-area: 4 / 2 / 7 / 3;
	background-color: #FF530D;
	border: 1px solid black;


}

#idA2 {
	grid-area: r2c5;
	background-color: #FF0000;
	border: 1px solid black;

}

#idA3p {
	grid-area: r2c6;
	background-color: #FF0DFF;
	border: 1px solid black;
}

#idB1 {
	grid-area: r3c4;
	background-color: #FF8153;
	border: 1px solid black;
}

#idB2pn {
	grid-area: r3c5;
	background-color: #FF5F6B;
	border: 1px solid black;
}

#idB3 {
	grid-area: r3c6;
	background-color: #F853FF;
	border: 1px solid black;
}

#idC1p {
	grid-area: r4c4;
	background-color: #FFA98D;
	border: 1px solid black;
}

#idC2 {
	grid-area: r4c5;
	background-color: #FF9AAA;
	border: 1px solid black;
}

#idC3n {
	grid-area: r4c6;
	background-color: #F58DFF;
	border: 1px solid black;
}

#buttonSpace {
	grid-area: r5c5;
	background-color: lightblue;
	border: 1px solid black;
}*/



