html { 
  background: url('../img/backgroundshot.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}


body {
	font-family: 'Arial', sans-serif;
	color: white;
	font-size: 18px;
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 {
	font-size: 58px;
	color: white;
}

table {
	width: 75%;
	margin: auto;
	margin-top: 20px;
	font-family: 'Arial', sans-serif;
	font-size: 70px;
}

.boardBtn {
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border: none;
	border-radius: 10%;
	box-shadow: 0 .03em .08em rgba(0,0,0, 0.5);
	margin: 8px;
	background-image: url('../img/reset.png');

}


.boardBtn:hover {
	cursor: pointer;
}

.selected {
	background-color: #FA6900;
}

.tr {
	list-style-type: none;
	width: 500px;
}

button {
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border: none;
	border-radius: 10%;
	box-shadow: 0 .03em .08em rgba(0,0,0, 0.5);
	margin: 8px;
	background-image: url('../img/reset.png');
}

#resetb {
	border: none;
	background: transparent;
	font-size: 18px;
	color: white;
	width: 100px;
	height: 100px;
	margin: .3em;
	border-radius: 50%;
}

#mavB {

	border: none;
	background-image: url('../img/mav.jpg');
	font-size: 18px;
	color: white;
	width: 100px;
	height: 100px;
	margin: .3em;
	border-radius: 50%;
}

#aryaB {
	border: none;
	background-image: url('../img/arya.jpg');
	font-size: 18px;
	color: white;
	width: 100px;
	height: 100px;
	margin: .3em;
	border-radius: 50%;
}

#mavB:hover {

	background-image: url('../img/mav.jpg');
	background-size: 100px 100px;
	max-height: 100%
	max-width: 100%;
	color: orange;
}

#aryaB:hover {
	background-image: url('../img/arya.jpg');
	background-size: 100px 100px;
	max-width: 100%
	max-height: 100%;
	color: orange;
}

#result {
	padding-top: 20px;
	height: 40px;
	font-size: 1.5em;
}
