body{
  text-align: center;
  /*font-family: 'Indie Flower', cursive;*/
  font-family: 'Gloria Hallelujah', cursive;
  /*font-family: 'Shadows Into Light', cursive;
  font-family: 'Rock Salt', cursive;*/

}

/*background{
  width: 800px;
  height: 800px;
  background-image: url("../img/paper.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  float: left;
  z-index: -1;
  opacity: 0.1;
}*/

#container{
  width: 300px;
  margin: 0 auto;
  /*border: 3px solid black;*/
}

#nav{
  height: 50px;
  line-height: 50px;
  /*background-color: grey;*/
  font-size: 35px;
  color: blue;
  text-shadow: 0 0 30px yellow;
}

#score{
  height: 50px;
  line-height: 50px;
  /*background-color: grey;*/
}

.scores{
  width: 48%;
  display: inline-block;
  font-size: 25px;
}

#board{
  /*background-color: rgb(238, 202, 108);*/
  /*background-image: url("../img/paper.png");
  opacity: 0.1;
  background-size: cover;*/
  overflow: hidden;
  background-color: white;
}

/*#tile0, #tile1, #tile2, #tile3, #tile4, #tile5{
  border-bottom: 1px solid black;
}

#tile1, #tile4, #tile7, #tile2, #tile5, #tile8{
  border-left: 1px solid black;
}*/

.row{
  width: 100%;
  height: 100px;
}

.tile{
  border: 1px solid blue;
  padding: 0px;
  height: 98px;
  width: 98px;
  float: left;
  line-height: 98px;
  font-size: 70px;
  z-index: +5;
}

#footer{
  height: 50px;
  /*height: 40px;
  background-color: silver;*/
}

.win{
  /*color:rgb(31, 190, 224);*/
  /*color: rgb(251, 249, 23);*/
  color: blue;
  text-shadow: 0 0 30px yellow;
}

button{
  width: 40%;
  height: 40px;
  margin:  4%;
  background-color: rgb(255, 232, 149);
  border-radius: 8px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 16px;
  /*color: blue;*/
}
