body {
    background: #1c5380;
}

h1 {
    text-align: center;
    color: #888;
}

#container {
    margin: 0 auto;
    width: 470px;
    height: 1000px;
    background: linear-gradient(#aab, #fff 8%);
    border-radius: 10px;
    padding: 40px;
    margin-top: 30px;

}

.board-square {
    height: 150px;
    width: 150px;
    float: left;
}

#top-left {
    border-right: solid black;
    border-bottom: solid black;
}

#top-mid {
    border-right: solid black;
    border-bottom: solid black;
    border-left: solid black;
}

#top-right {
    border-bottom: solid black;
    border-left: solid black;
}

#mid-left {
    border-top: solid black;
    border-right: solid black;
    border-bottom: solid black;
}

#mid-mid {
    border-top: solid black;
    border-right: solid black;
    border-bottom: solid black;
    border-left: solid black;
}

#mid-right {
    border-top: solid black;
    border-bottom: solid black;
    border-left: solid black;
}

#bottom-left {
    border-top: solid black;
    border-right: solid black;
}

#bottom-mid {
    border-top: solid black;
    border-right: solid black;
    border-left: solid black;
}

#bottom-right {
    border-top: solid black;
    border-left: solid black;
}