body {
	background-color: gray;
	text-align: center;
	color: white;
	font-family: 'Gochi Hand', cursive;
}


.divClass_row {
	background-color: gray;

	height: 200px;
	width: 700px;

	float: left;
}

.divClass_square {
	background-color: gray;
	border: 3px solid white;

	height: 200px;
	width: 200px;

	float: left;

	font-size: 180px;
}

#div_game_board {
	background-color: gray;

	height: 700px;
	width: 630px;

	float: left;
}

#div_right {
	background-color: gray;

	height: 700px;
	width: 300px;

	float: left;
}

#div_label {
	padding-top: 120px;
	font-size: 50px;
}

#div_small {
	font-size: 20px;
}

#div_large {
	font-size: 180px;
}

#div_reset {
	font-size: 30px;
	background-color: gray;
	border: 3px dashed white;
	height: 70px;
	width: 200px;
	margin-left: 50px;
	padding-top: 30px;
}