/*  Element Styling   */


body {
  font-family: Helvetica;
  background-color: black;

}


h1 {
  text-align: center;
  border: 0;
  padding-bottom: 10px;
  color: white;
 

}

.align {
  margin-right: auto;
  margin-left: auto;

}


/* Board Styling */


#board-container {
  width: 600px;
  overflow: hidden;
}

#board {
  width: 355px;
  height: 355px;
  border-spacing: 0px;
  margin-left: -2px;
  margin-top: -2px;
  margin-bottom: 15px;
}


td {
    height: 100px;
    width: 100px;
    background-color: violet;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family: monospace;
    font-size: 40;
    text-transform: uppercase;
    color: aqua;

}

tr {
  border-bottom: 0;

}

#board tr:last-child td{
    border-bottom: none;
}


/* Button & Dropdown Styling */

.button {
  margin-left:auto;
  margin-right:auto;
  text-align:center;

}

#restart {
  font-size: 12pt;
  color: white;
  background-color: lightslategrey;
  padding: 5px 15px 5px 15px;

}

label {
  font-family: Helvetica;
  font-size: 15px;
  color: white;

}

select {
  margin: 10 10 10 5;

}

/* Scoreboard */

#score-board {
  width: 200px;
  float: right;
  margin: -5;


}

#score-board td {
  color: white;
  font-size: 20px;
  border-: 1px solid black;
  background-color: grey;
}

#score-board tr:last-child td{
    border-bottom: none;
    border-top: none;


