body{
background-color: aqua;
text-align: center;
margin: 0 auto;
}
h1 {
  color: purple;
}
/* #button {
	display: flex;
	margin: center;
	text-align: center;
} */
#grid {
  margin: auto;
  padding: 10;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "box1 box2 box3"
    "box4 box5 box6"
    "box7 box8 box9";
	max-height: 75vh;
	width: 75vw;
	

}

#grid-box-1 {
	grid-area: box1;
	display: flex;
	justify-content: center;
	align-items: center;
}
#grid-box-2 {
	grid-area: box2;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 5px solid black;
	border-right: 5px solid black;
}
#grid-box-3 {
  grid-area: box3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#grid-box-4 {
	grid-area: box4;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 5px solid black;
	border-bottom: 5px solid black;

}
#grid-box-5 {
	grid-area: box5;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid black;
}
#grid-box-6 {
	grid-area: box6;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 5px solid black;
	border-bottom: 5px solid black;

}
#grid-box-7 {
	grid-area: box7;
	display: flex;
	justify-content: center;
	align-items: center;
}
#grid-box-8 {
	grid-area: box8;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 5px solid black;
	border-right: 5px solid black;

}
#grid-box-9 {
	grid-area: box9;
	display: flex;
	justify-content: center;
	align-items: center;
}

#reset {
	align-self: center;
	font-size: 20px;
}
