body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  align-items: center;
}

.board {
  width: 500px;
  margin: 0 auto;
}

.board  > div {
  padding: 3px;
}

.board > div > div {
  width: 150px;
  height: 150px;
  display: inline-block;
  border: 1px solid black;
  vertical-align: top;
  align-content: center;
  margin: 4px;
}

#messageBox {
  display: table;
  margin: 0 auto;
}


#lowerContainer {
    width: 50%;
    margin: 0 auto;
}

#innerLowerContainer {
    display: table;
    margin: 0 auto;
}

#restartButton {
  text-align: center;
  padding: 4px;
}

.blueBg {
  background-color: #55AAFF;
}

.redBg {
  background-color: #b098ff;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

form {
  display: inline-block;
}

p {
  text-align: center;
}
